# Environment
APP_URL=http://localhost
APP_ENV=production

# Database
DB_SERVER=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=guerrilla

# Site
SITE_NAME="Guerrilla"
CANONICAL_URL=http://localhost

# Security
SITE_CONFIG_ENCRYPTION_KEY=
